<!DOCTYPE html>
<html>
<head>
    <title>Interactive Suite List</title>
    <link rel="stylesheet", type="text/css", href="/styles/suite_overview.css">
</head>
<body>
    <div class="topmainbody">
        <table align="center">
            <tr><td><h2>Welcome {{username}}!</h2></td></tr>
        </table>
    </div>
    <div class="mainbody">
        <table align="center">
            <tr><td><h4>Here is the current status of your POFIS progress</h4></td></tr>
        </table>
        <table align="center">
            <tr>
                <th>Section</th>
                <th>Tutorial</th>
                <th>Reference Document</th>
                <th>Status</th>
            </tr>
            {% for id, suite, status, refdoc_href in suite_data %}
            <tr>
                <td>{{ id }}</td>
                <td>
                    <a href="/suites/take_suite?suite_num={{ id }}">{{ suite }}</a>
                </td>
                <td>
                    {% if refdoc_href %}
                    <a href='{{ refdoc_href }}'>
                        See Here For More...
                    </a>
                    {% endif %}
                </td>
                {% if status %}
                <td class="status_complete">Complete!</td>
                {% else %}
                <td>Not Complete</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
