<!DOCTYPE html>
<html>
<head>
    <title>Interactive Tutorial List</title>
    <link rel="stylesheet", type="text/css", href="/styles/tutorial_overview.css">
</head>
<body>
    <div class="topmainbody">
        <table width="100%" align="center">
            <tr>
                <td align="left"><a href="/" class="home">Back to Home</a></td>
            </tr>
            <div class="row">
                <td><h2 align="center">Welcome {{username}}!</h2></td>
            </div>
        </table>
    </div>
    <div class="mainbody">
        <table align="center">
            <td><h4 align="center">Current status of your POFIS progress</h4></td>
        </table>
        <table align="center">
            <tr>
                <th>Section</th>
                <th>Tutorial</th>
                <th>Reference Document</th>
                <th>Status</th>
            </tr>
            {% for id, tutorial, status, refdoc_href in tutorial_data %}
            <tr>
                <td>{{ id }}</td>
                <td>
                    <a href="/tutorials/take_tutorial?tutorial_num={{ id }}">{{ tutorial }}</a>
                </td>
                <td>
                    {% if refdoc_href %}
                    <a href='{{ refdoc_href }}'>
                        See Here For More...
                    </a>
                    {% endif %}
                </td>
                {% if status %}
                <td class="status_complete">Complete!</td>
                {% else %}
                <td>Not Complete</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
