.home {
    font: 20px "Lato";
}

.mainbody {
    left: 20%;
    right: 20%;
    background-color: white;
    font: 20px "Lato";
    align-content: center;
}

.topmainbody {
    left: 20%;
    right: 20%;
    background-color: #297FB8;
    font: 30px "Lato";
    color: black;
    height: 200px;
}

.status_complete {
    color: green;
}

td,tr{
    align-content: center;
    height: 50px;
    text-align: left;
    width: 14em;
}

h4{
    width: 30em;
}
